body {
    background: linear-gradient(to right, #0f4900, #137402, #33ff50);
    font-family: 'Poppins', sans-serif;
}

#form {
    margin-left: 460px;
    margin-top: 75px;
    width: 300px;
    margin: 20hv auto 0 auto;
    padding: 20px;
    background-color: rgb(0, 97, 60);
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #ffffff;
    text-align: center;
}

#form button {
    padding: 10px;
    margin: 10px;
    width: 100%;
    margin-left: -0%;
    color: white;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 40px;
}

.input-control {
    display: flex;
    flex-direction: column;   
}

.input-control input {
    border: 2px solid #ffffff;
    border-radius: 4px;
    display:  block;
    font-size: 12px;
    padding: 10px;
    width: 90%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}